@model MvcContrib.Samples.UI.Models.DerivedTypeModelBinder.CustomerInfo

@{
    ViewBag.Title = "DerivedTypeModelBinder Example";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}

<h2>Model Binding a generic List of IContent types</h2>
@using (Html.BeginForm())
{
@Html.EditorFor(m => m.Contents)
<input type="submit" name="mysubmit" value="Save" />
}