<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
	<section name="includeHandling"
			type="MvcContrib.IncludeHandling.Configuration.IncludeHandlingSectionHandler, MvcContrib.IncludeHandling" />
	</configSections>
	
  <includeHandling>
    <css path="~/foo/{0}/{1}" cacheFor="10:10:10.000" compressionOrder="gzip" lineBreakAt="180" minify="false">
      <options compressionType="Hybrid" />
    </css>
    <js path="~/bar/{0}/{1}" cacheFor="11.11:11:11.100" compressionOrder="deflate,gzip" lineBreakAt="-1" minify="false">
      <options disableOptimizations="true" obfuscate="false" preserveSemiColons="false" />
    </js>
  </includeHandling>
  
	<system.web>
		<httpHandlers>
			<add path="WebResource.axd" verb="GET" type="System.Web.Handlers.AssemblyResourceLoader" validate="True" />
		</httpHandlers>
	</system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc"
            publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.41001.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
