@model dynamic

@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <h2>Details for: @Model.Name</h2>

<p><strong>Id:</strong> @Model.Id </p>
<p><strong>Gender:</strong> @Model.Gender </p>
<p><strong>Date of Birth:</strong> @Model.DateOfBirth</p>