@model dynamic

@{
    ViewBag.Title = "MvcContrib UI Sample";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
Use the menu items above to view the various UI-helper samples.
</p>