@model MvcContrib.Samples.UI.Models.DerivedTypeModelBinder.User

<h3>User Information</h3>
<table>
    <tr>
        <td>
            User Id
        </td>
        <td>
            @Model.UserId
        </td>
    </tr>
    <tr>
        <td>
            User Name
        </td>
        <td>
            @Model.UserName
        </td>
    </tr>
    <tr>
        <td>
            Email
        </td>
        <td>
            @Model.EmailId
        </td>
    </tr>
</table>

